#app4{}
@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: blue;
  }
}

#app4 .circle{
  border:1px solid black;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin-top: 3vw;
  margin-left: 3vw;
}

#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}